<h1>Welcome to the {{title}} World!!!</h1>

<button class="btn btn-primary" (click)="changeTitle('Shivanand')">Click Me</button>

<br/>
<!-- without ngModel
<input type="text" [value]="name" #txtName (keyup)="textUpdated(txtName.value)" />
-->

<!-- with ngModel and event binding
<input type="text" [value]="name" ngModel #txtName="ngModel" (keyup)="textUpdated(txtName)" />-->

<!-- with input-output-binding -->
<input type="text" [(ngModel)]="name">
<span>{{name}}</span>

<!--
    to create a table
    table#tbl.table>(tr>td*2)*2

-->